<ion-view title="Ajustes" id="page9" class=" ">
    <ion-content padding="true" class="has-header">
        <h5 id="ajustes-heading4" style="color:#000000;" class=" ">GENERAL</h5>
        <ion-list id="ajustes-list8" class=" ">
            <ion-item class="item-icon-left item-icon-right dark  RECORDATORIO" id="ajustes-list-item16">
                <i class="icon ion-android-alarm-clock"></i>RECORDATORIOS
                <i class="icon ion-arrow-right-a icon-accessory"></i>
            </ion-item>
        </ion-list>
        <h5 id="ajustes-heading6" style="color:#000000;" class=" ">EJERCICIOS</h5>
        <ion-list id="ajustes-list9" class=" ">
            <ion-item class="item-icon-left item-icon-right dark  RECORDATORIO" id="ajustes-list-item19">
                <i class="icon ion-android-stopwatch"></i>INTERVALOS
                <i class="icon ion-arrow-right-a icon-accessory"></i>
            </ion-item>
        </ion-list>
        <h5 id="ajustes-heading7" style="color:#000000;" class=" ">COMPRAS</h5>
        <ion-list id="ajustes-list10" class=" ">
            <ion-item class="item-icon-left item-icon-right dark  RECORDATORIO" id="ajustes-list-item20">
                <i class="icon ion-heart"></i>VIDAS
                <i class="icon ion-arrow-right-a icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right dark  RECORDATORIO" id="ajustes-list-item21">
                <i class="icon ion-ios-body"></i>EJERCICIOS
                <i class="icon ion-arrow-right-a icon-accessory"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>