<ion-view title="Catálogo" id="page6" style="background-color:#FFFFFF;" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="catLogo-list2" class=" ">
            <ion-item class="item-thumbnail-left  " id="catLogo-list-item7" ui-sref="estiramiento">
                <img src="img/FZuUADDvTWyp4IwjKvI1_estirar.jpg">
                <h2>ESTIRAMIENTO</h2>
                <p>TIEMPO: 2 MINUTOS</p>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="catLogo-list-item8" ui-sref="zancadas">
                <img src="img/fihebGv9S8iJw89247Xl_sentadilla.jpg">
                <h2>ZANCADAS</h2>
                <p>3 SERIES X 12 REP.</p>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="catLogo-list-item9" ui-sref="flexiones">
                <img src="img/S7uKhP5WTxGeZdLZw5S1_flexiones.jpg">
                <h2>FLEXIONES</h2>
                <p>2 SERIES X 10 REP.</p>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="catLogo-list-item10" ui-sref="twistRuso">
                <img src="img/wotUPdexTB6iZeMkplDg_six_pack.jpg">
                <h2>TWIST RUSO</h2>
                <p>4 SERIES X 10 REP</p>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="catLogo-list-item11" ui-sref="panel.finalizarRutina">
                <img src="img/QBqxOzkqRbiUW934RaOI_finalizar.png">
                <h2>FINALIZAR SESIÓN</h2>
                <p>Conquista el que resiste.</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>