<ion-view title="Dietas" id="page2" class=" ">
    <ion-content padding="true" style="background: url(img/PEcsn07YQpCTCZ6V2yZn_mama.jpg) no-repeat center;background-size:cover;" class="has-header">
        <div class="spacer" style="width: 277.313px; height: 0px;"></div>
        <h1 id="dietas-heading9" style="color:#0FEDFF;font-style:italic;text-align:justify;" class=" "></h1>
        <div class="spacer" style="width: 277.313px; height: 398px;"></div>
        <a ui-sref="secciNDeDietas" id="dietas-button18" style="border-radius:40px 40px 40px 40px;" class=" button button-balanced  button-block icon ion-coffee ">Sección de dietas</a>
    </ion-content>
</ion-view>