<ion-view title="EMPEZAR EJERCICIO" hide-back-button="true" id="page14" class=" ">
    <ion-content padding="true" style="background: url(img/oYkiuNLzT4Gv6VJVW7kB_rio_2016_olympics_soccer-wallpaper-960x600.jpg) no-repeat center;background-size:cover;" class="has-header">
        <div class="spacer" style="width: 283px; height: 155px;"></div>
        <a ui-sref="catLogo" id="rutina-button9" style="font-weight:600;border-radius:2000px 2000px 2000px 2000px;" class=" button button-dark  button-block ">Comenzar</a>
    </ion-content>
</ion-view>