<ion-view title="Estiramiento" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="">
            <img src="img/eu4M38TMaVAm6YOIeGAb_estirar_espalda.jpg" width="60%" height="" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <p id="estiramiento2-markdown2" style="color:#000000;font-size:20px;text-align:justify;" class=" ">Este ejercicio se realiza de pie, estire la palma de sus manos lo mas arriba que pueda mientras que el eleva sus talones, realizarlo 10 veces.</p>
        <div class="spacer" style="width: 283px; height: 67px;"></div>
        <a ui-sref="estiramiento3" id="estiramiento2-button12" class=" button button-positive  button-block ">SIGUIENTE</a>
    </ion-content>
</ion-view>