<ion-view title="Estiramiento" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="">
            <img src="img/5RkjWT8GSfq72YRZZSQQ_estirar_cabeza.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <p id="estiramiento-markdown1" style="color:#000000;font-size:20px;text-align:justify;" class=" ">Estira tu cuello de costado a costado, 10 veces por cada lado.</p>
        <div class="spacer" style="width: 283px; height: 81px;"></div>
        <a ui-sref="estiramiento2" id="estiramiento-button11" style="font-weight:600;" class=" button button-positive  button-block ">SIGUIENTE</a>
    </ion-content>
</ion-view>