<ion-view title="Estiramiento" id="page9" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="">
            <img src="img/cLAmelC0R8KMKkE6UZHD_estirar_pierna.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <p id="estiramiento3-markdown3" style="color:#000000;font-size:20px;text-align:justify;" class=" ">Busque una silla, o apoye su pie sobre la pared como muestra la figura, incline su brazo hacia el pie como si deseara alcanzarlo y regresar a la posición incial. Realice éste ejercicio 10 veces por cada pierna</p>
        <div class="spacer" style="width: 283px; height: 36px;"></div>
        <a ui-sref="catLogo" id="estiramiento3-button13" class=" button button-positive  button-block ">FINALIZAR</a>
    </ion-content>
</ion-view>