<ion-view title="Flexiones" id="page11" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="">
            <img src="img/5App7UU2REyNyZ9c2bdS_flexiones_brazo.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <p id="flexiones-markdown6" style="color:#000000;font-size:20px;text-align:justify;" class=" ">Con la espalda recta, baje su pecho hasta rozar el piso, con una apertura de manos de 60 cm aprox. entre sus manos. Realice esto 2 series de 10 repeticiones.</p>
        <div class="spacer" style="width: 283px; height: 75px;"></div>
        <a ui-sref="catLogo" id="flexiones-button15" class=" button button-positive  button-block ">FINALIZAR</a>
    </ion-content>
</ion-view>