<ion-view title="Inicio" hide-nav-bar="true" id="page7" class=" ">
    <ion-content padding="true" style="background: url(img/KvPcW878QrCOwsKOgQsz_surfing_8-wallpaper-1920x1080.jpg) no-repeat center;background-size:cover;" class=" manual-remove-top-padding">
        <div class="spacer" style="width: 300px; height: 11px;"></div>
        <h1 id="inicio-heading1" style="color:#605D88;font-style:italic;text-align:center;" class=" ">UrLife</h1>
        <div class="spacer" style="width: 282.979px; height: 397.979px;"></div>
        <a ui-sref="logear" id="inicio-button4" style="color:#D6DBDF;border-radius:70px 70px 70px 70px;" class=" button button-balanced button-large button-block button-outline ">Comenzar</a>
    </ion-content>
</ion-view>