<ion-view title="Menus" hide-back-button="true" id="page19" style="background-color:#D9DEE9;" class=" ">
    <ion-content padding="true" class="has-header">
        <p id="menus-markdown4" style="color:#A66464;" class=" ">Disponibilidad de la casa</p>
        <ion-list id="menus-list14" class=" ">
            <ion-item class="item-divider " id="menus-list-item-divider3">Platillo fuerte</ion-item>
            <ion-item class="positive  " id="menus-list-item31">Carne asada</ion-item>
            <ion-item class="item-divider " id="menus-list-item-divider4">Sopas</ion-item>
            <ion-item class="positive  " id="menus-list-item32">Spaguetti</ion-item>
            <ion-item class="positive  " id="menus-list-item33">Fideos</ion-item>
            <ion-item class="item-divider " id="menus-list-item-divider5">Licuados</ion-item>
            <ion-item class="positive  " id="menus-list-item34">Platano</ion-item>
            <ion-item class="positive  " id="menus-list-item35">Mango</ion-item>
            <ion-item class="item-divider " id="menus-list-item-divider6">Sandwiches</ion-item>
            <ion-item class="positive  " id="menus-list-item36">Milanesa</ion-item>
            <ion-item class="item-divider " id="menus-list-item-divider7">Jugos</ion-item>
            <ion-item class="positive  " id="menus-list-item37">Zanahoria</ion-item>
            <ion-item class="positive  " id="menus-list-item38">Betabel</ion-item>
            <ion-item class="positive  " id="menus-list-item39">Verde</ion-item>
        </ion-list>
        <a ui-sref="panel.ubicaciones" id="menus-button19" style="border-radius:50px 50px 50px 50px;" class=" button button-balanced  button-block ">Regresar</a>
    </ion-content>
</ion-view>