<ion-view title="Home" hide-back-button="true" id="page1" style="background-color:#FFFFFF;" class=" Perfil">
    <ion-content padding="true" scroll="false" class="has-header">
        <div class="item item-body " id="principal-list-item-container4">
            <p id="principal-markdown1" style="margin-top:0px;color:#000000;text-align:center; font-weight: bold;"></p>
        </div>
        <ion-list id="principal-list16" class=" ">
            <ion-item class="item-icon-left item-icon-right energized  " id="principal-list-item23">
                <i class="icon ion-fireball" id="cal_quemadas"></i>
                <span class="item-note" id="objetivo"></span>
                <i class="icon ion-flag"></i>
            </ion-item>
            <ion-item class="item-icon-left positive  " id="principal-list-item24">
                <i class="icon ion-android-walk"></i>Cardiovascular</ion-item>
            <ion-item class="item-icon-left positive  " id="principal-list-item25">
                <i class="icon ion-ios-americanfootball"></i>Objetivos alcanzados</ion-item>
            <ion-item class="item-icon-left energized  " id="principal-list-item26">
                <i class="icon ion-coffee"></i>0 ingeridas / 0 quemadas
                <span class="item-note">Todavía no quemas calorías .</span>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 132px;"></div>
        <div id="principal-button-bar2" class=" button-bar ">
            <a ui-sref="panel.eMPEZAREJERCICIO" id="principal-button10" style="font-weight:600;font-style:italic;text-align:justify;" class=" button button-balanced button-large button-block icon ion-android-alarm-clock "></a>
            <a ui-sref="panel.aPRENDIZAJE" id="principal-button14" style="font-weight:600;font-style:italic;text-align:justify;" class=" button button-balanced button-large button-block icon ion-ios-book-outline "></a>
            <a ui-sref="panel.lOGROSALCANZADOS" id="principal-button11" class=" button button-balanced  button-block icon ion-android-unlock "></a>
            <a ui-sref="monitoreo" id="principal-button12" class=" button button-balanced  button-block icon ion-ios-pulse "></a>
        </div>
    </ion-content>
</ion-view>