<ion-view title="Registro" id="page11" class=" " ng-controller="registrarseCtrl">
    <ion-content padding="true" class="has-header" >
        <form id="registrarse-form5" class="list ">
            <ion-list id="registrarse-list11" class="">
                <label class="item item-input " id="registrarse-input5">
                    <span class="input-label">Nombre</span>
                    <input type="text" placeholder="Nombre" ng-model="registro.nombre">
                </label>
                <label class="item item-input " id="registrarse-input6">
                    <span class="input-label">Apellidos</span>
                    <input type="text" placeholder="Apellidos" ng-model="registro.apellidos">
                </label>
                <label class="item item-input " id="registrarse-input10">
                    <span class="input-label">Usuario</span>
                    <input type="text" placeholder="Usuario" ng-model="registro.usuario">
                </label>
                <label class="item item-input " id="registrarse-input17">
                    <span class="input-label">Contraseña</span>
                    <input type="password" placeholder="Contraseña" ng-model="registro.password">
                </label>
                <label class="item item-input " id="registrarse-input18">
                    <span class="input-label">E-mail</span>
                    <input type="email" placeholder="Correo" ng-model="registro.email">
                </label>
            </ion-list>
        </form>
        <form id="registrarse-form6" class="list ">
            <div class="item item-body " id="registrarse-list-item-container3">
                <h2 id="registrarse-heading8" style="color:#000000;font-weight:lighter;" class=" ">Fecha de nacimiento</h2>
                <form id="registrarse-form11" class="list "> 
                    <label class="item item-input" >
                        <span class="input-label  " >Fecha de nacimiento</span>
                        <input type="date" ng-model="registro.nacimiento" min="1980-01-01" max="2011-01-01">
                    </label>
                </form>
            </div>
            <div class="list card " id="registrarse-card22"></div>
            <button id="registrarse-button9" class=" button button-positive  button-block button-outline " ng-click="boton()" >{{nombreBotonSexo}}</button>
        </form>
        <form id="registrarse2-form14" class="list ">
            <label class="item item-input " id="registrarse2-input19">
                <span class="input-label">Peso</span>
                <input type="text" placeholder="Peso" ng-model="registro.peso">
            </label>
            <label class="item item-input " id="registrarse2-input7">
                <span class="input-label">Altura</span>
                <input type="text" placeholder="Altura" ng-model="registro.altura">
            </label>
        </form>
        <button id="registrarse2-button13" class=" button button-positive  button-block button-outline " ng-click="botonObjetivo()">{{botonObjetivoText}}</button>
        <form id="registrarse2-form7" class="list " name="formulario">
            <label class="item item-select " id="registrarse2-select1" name="etiqueta">
                <span class="input-label" >Padecimientos:
                </span>
                <select ng-model="registro.padecimiento" ng-options="enfermedad.nombre for enfermedad in enfermedades" name="seleccion" >
                </select>
            </label>
        </form>
        <span class="positive r" >Nombre: 
            <i class="assertive">{{registro.padecimiento.nombre}}</i>
            <br><br>
            Tipo: <i class="assertive">{{registro.padecimiento.tipo}}</i>
        </span>
        <div class="spacer" style="width: 277.333px; height: 141px;"></div>
        <a ui-sref="logear" id="registrarse2-button16" class=" button button-balanced  button-block " ng-click="guardarUsuario()">Registrarse</a>
    </ion-content>
</ion-view>