<ion-view title="Rutina" id="page5" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="">
            <img src="img/x0tAbVl3RYelx5m3jqiK_principiante.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 283px; height: 64px;"></div>
        <a ui-sref="catLogo" id="rutina-button9" style="font-weight:600;border-radius:2000px 2000px 2000px 2000px;" class=" button button-dark  button-block ">Catálogo</a>
    </ion-content>
</ion-view>