<ion-view title="Repertorio de Comida" id="page17" class=" ">
    <ion-content padding="true" style="background: url(img/jmbg9A4dTykhe4hWZdcs_very_berry_strawberry-wallpaper-1366x768.jpg) no-repeat center;background-size:cover;" class="has-header">
        <button id="secciNDeDietas-button22" class=" button button-calm button-large button-block button-outline" ng-click="primera_ingredientes()">Egg Rolls - Ingredientes</button>
        <button id="secciNDeDietas-button23" class=" button button-calm button-large button-block button-outline" ng-click="primera_instrucciones()">Egg Rolls - Instrucciones</button>
        <button id="secciNDeDietas-button24" class=" button button-calm button-large button-block button-outline" ng-click="primera_informacion()">Egg Rolls - Información</button>
        <button id="secciNDeDietas-button25" class=" button button-calm button-large button-block button-outline" ng-click="segunda_ingredientes()">Pollo Parmesano - Ingredientes</button>
        <button id="secciNDeDietas-button26" class=" button button-calm button-large button-block button-outline" ng-click="segunda_instrucciones()">Pollo Parmesano - Instrucciones</button>
        <button id="secciNDeDietas-button27" class=" button button-calm button-large button-block button-outline" ng-click="segunda_informacion()">Pollo Parmesano - Información</button>
        <a ui-sref="panel.principal" id="secciNDeDietas-button29" style="border-radius:40px 40px 40px 40px;" class=" button button-balanced button-large button-block ">Regresar</a>
    </ion-content>
</ion-view>