<ion-view title="Sección de dietas" id="page17" class=" ">
    <ion-content padding="true" style="background: url(img/jmbg9A4dTykhe4hWZdcs_very_berry_strawberry-wallpaper-1366x768.jpg) no-repeat center;background-size:cover;" class="has-header">
        <button id="secciNDeDietas-button22" class=" button button-calm button-large button-block button-outline ">Baja en calorías</button>
        <button id="secciNDeDietas-button23" class=" button button-calm button-large button-block button-outline ">Dosociadas</button>
        <button id="secciNDeDietas-button24" class=" button button-calm button-large button-block button-outline ">Frutas</button>
        <button id="secciNDeDietas-button25" class=" button button-calm button-large button-block button-outline ">Adelgazar</button>
        <button id="secciNDeDietas-button26" class=" button button-calm button-large button-block button-outline ">Sanas</button>
        <button id="secciNDeDietas-button27" class=" button button-calm button-large button-block button-outline ">Desintoxicantes</button>
        <button id="secciNDeDietas-button28" class=" button button-calm button-large button-block button-outline ">Deportistas</button>
        <a ui-sref="panel.principal" id="secciNDeDietas-button29" style="border-radius:40px 40px 40px 40px;" class=" button button-balanced button-large button-block ">Regresar</a>
    </ion-content>
</ion-view>