<ion-view title="Twist Ruso" id="page12" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="">
            <img src="img/WtdXcCJqSFuiScVlgzSR_twist.jpg" width="70%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <p id="twistRuso-markdown7" style="color:#000000;font-size:20px;text-align:justify;" class=" ">Recuéstese sobre el piso, al elevar el tronco flexion su rodilla llevandola hacia arriba, lleve su brazo contrario a la pierna hacia ella, haga que su codo toque su rodilla e intercambie de brazo y pierna. Realizar éste ejercicio 5 repeticiones
            por cada lado durante 4 series. Tome un descanso de 30 segundos entre cada serie.</p>
        <a ui-sref="catLogo" id="twistRuso-button16" class=" button button-positive  button-block ">FINALIZAR</a>
    </ion-content>
</ion-view>