<ion-view title="Zancadas" id="page10" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="">
            <img src="img/TdtjEHQhS6a9s8WakK3w_zancadas.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <p id="zancadas-markdown5" style="color:#000000;font-size:20px;text-align:justify;" class=" ">Realice éste ejercicio con dos botes de plastico en cada mano, baje con su espalda recta y forme un ángulo de 90° con su pierna como muestra la imágen. Realice este ejercicio 3 serie por 12 repeticiones por cada pierna, entre cada serie descanse
            1 minuto.</p>
        <div class="spacer" style="width: 283px; height: 23px;"></div>
        <a ui-sref="catLogo" id="zancadas-button14" class=" button button-positive  button-block ">FINALIZAR</a>
    </ion-content>
</ion-view>